body{
    margin:0;
    padding:0;
    background-color:black;
  }
  .header{
   text-align:center;
   margin-right:auto;
   margin-left:auto;
   color:#41e5f4;
  }
  #title{
    margin-top:0px;
    padding-top:30px;
    padding-bottom:30px;
    text-align: center;
    font-size:4em;
  }
  .start{
    background-color:#4d0000;
    color:#41e5f4;
    border-style:dotted;
    border-color:white;
    margin-left:520px;
    font-size:1.8em;
  }
  .box {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding-top:5px;
    text-align:center;
    font-size: 150%;
    border-style:solid;
    border-color:white
  }
  
  .wrapper {
    margin-left: 380px;
    margin-top:35px;
    width: 600px;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(10, 60px);
    grid-template-rows: repeat(10,60px);
    grid-auto-flow: row;
  }